.animatedText_styleBody8 {
  width: 100%;
  height: auto;
  color: var(--letter);
  font-size: 6rem;
  word-break: break-all;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -2%;
}
.animatedText_styleBody8 .track {
  will-change: transform;
  animation: marquee3 2s linear infinite;
}
@keyframes marquee3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
