.img_container {
  display: flex;
  width: var(--fWidth);
  height: auto;
  margin-left: 2%;
}
.img_container img {
  width: 100%;
  border-radius: 30px;
  height: inherit;
  float: none;
}
.img_container .img_content1,
.img_container .img_content2,
.img_container .img_content3 {
  width: 33.33%;
  padding: var(--margin);
  position: relative;
}

.img_container .img_content1 div,
.img_container .img_content2 div,
.img_container .img_content3 div {
  position: absolute;
  text-align: left;
  width: 100%;
  max-width: 100%;
  height: inherit;
  padding-left: 10%;
  padding-right: 10%;

  bottom: 5%;
  color: gray;
  font-size: 2rem;
}
.img_container .img_content1 div span,
.img_container .img_content2 div span,
.img_container .img_content3 div span {
  max-width: inherit;
  color: var(--letter);
}
@media screen and (max-width: 760px) {
  .img_container {
    flex-direction: column;
  }
  .img_container .img_content1,
  .img_container .img_content2,
  .img_container .img_content3 {
    width: 100%;
  }
}
