.img_container_styleBody9 {
  display: flex;
  max-width: var(--fWidth);
  width: var(--fWidth);
  margin-left: 2%;
}
.img_container_styleBody9 div {
  width: 100%;
  height: auto;
  background-color: var(--clr);
  margin: var(--margin);
  border-radius: 30px;
}
.img_container_styleBody9 div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 760px) {
  .img_container_styleBody9 {
    flex-direction: column;
  }
  .img_container_styleBody9 .img_content1_styleBody5,
  .img_container_styleBody9 .img_content2_styleBody5 {
    width: 100%;
  }
}
