.img_white_styleBody11 {
  margin-top: 3%;
  padding-left: 2%;
  width: var(--fWidth);
}
.img_white_styleBody11 div {
  background-color: white;
  border-radius: 30px;
}
.img_white_styleBody11 div img {
  width: 50%;
  border-radius: 30px;
}

.waitlist-container {
  display: flex;
}
.waitlist-container .waitlist-text1 {
  font-size: 6rem;
}
.waitlist-container .waitlist-text2 {
}
.waitlist-container input {
  background-color: lightgray;
  border: none;
  height: 15%;
  width: 70%;
}
.waitlist-container .waitlist-address::after {
  background-color: orange;
  width: 30%;
  height: 30%;
  border: none;
}
