.hBody {
  background-color: var(--black);
}
.img_base {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr);
  border-radius: 30px;
  text-align: center;
  flex-direction: row;
}
.img_1 {
  width: var(--fWidth);
  margin: auto;
  height: auto;
}
.img_base div {
  font-size: 8rem;
  color: var(--letter);
}
.imgBox_2 {
  margin-top: 2%;
  margin-left: 2%;
  display: flex;
  width: 100%;
  height: auto;
}
.img_2 {
  margin-right: var(--margin);
  width: 35%;
  height: auto;
}
.img_3 {
  margin-left: var(--margin);
  width: 60%;
  height: auto;
}
.img_4 {
  margin-top: var(--margin);
  margin-left: 2%;
  width: var(--fWidth);
  height: auto;
}
.img_5 {
  margin-top: var(--margin);
  margin-left: 2%;
  width: var(--fWidth);
  height: auto;
}
.text {
  width: 96%;
  margin-left: 2%;
  color: var(--letter);
  letter-spacing: 0.2rem;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
}
.text.text_2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.text_2 span {
  color: var(--darkLetter);
}
video{
  max-width: 100%;
  max-height: auto;
  border-radius: 30px;
}