.img_container_styleBody5{
    display:flex;
    flex-direction: row;
    width:var(--fWidth);
    height:auto;
    margin : var(--margin);
    margin-left:2%;
}
.img_container_styleBody5 img{
    width:100%;
    border-radius: 30px;
    height:inherit;
}
.img_container_styleBody5 .img_content1_styleBody5,
.img_container_styleBody5 .img_content2_styleBody5,
.img_container_styleBody5 .img_content3_styleBody5{
    padding: var(--margin);
}